<div class="row">
	<div class="col-md-9">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Email</th>
					<th>Cidade</th>
				</tr>
			</thead>
			<div>
			<tr ng-repeat="perfil in perfis" ng-click="mostra = !mostra" data-toggle="tooltip" title={{perfil.sobreVoce}}>
				<td>{{perfil.nome}}</td>
				<td>{{perfil.email}}</td>
				<td>{{perfil.cidade}}</td>
			</tr>
		</table>
		
	</div>
	<div class="col-md-3  back cinza-btn">
		<img src="layout/img/futuro.png" class="img-responsive">
	</div>
</div>